html {
  font-size: 200%;
}

.add_books {
  font-size: 2rem;
}

.books_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 30px;
}

.delete,
.read {
  font-size: 0.8rem;
}
.visited {
  color: red;
}

.parentElement {
  display: grid;
  grid-template-columns: 100px 150px;
  grid-template-rows: 35px 35px;
  gap: 5px;
}

input {
  font-size: 0.45rem;
}
